img {
    &.flag {
        width: 16px;
    }
}

table {
    tbody {
        td {
            &.date {
                background-color: gainsboro;
            }

            span {
                &.team {
                    font-weight: 600;
                }
            }
        }
    }
}

.loader, .app-container {
    height: calc(100vh);
}