<div class="w-100 h-100 app-container d-flex">

    <ng-container *ngIf="scrappingData">
        <div class="d-flex justify-content-center align-items-center w-100 p-5 loader"><i class="fa fa-spinner fa-spin me-2"></i><small>Carregant dades...</small></div>
    </ng-container>
    
    <ng-container *ngIf="!scrappingData && scrappedData">
        <ng-container *ngIf="scrappedDataNodeList && matchDaysAll.length>0">
            <div class="w-100">
                <table class="table table-hover tableFixedHeader">
                    <thead>
                        <tr>
                            <th class="text-start w-10">
                                <ng-select 
                                    [items]="filterData.dates"
                                    [(ngModel)]="filter.selectedDate"
                                    (ngModelChange)="doFilterData()"
                                    placeholder="Data">
                                    <ng-template ng-label-tmp let-item="item">
                                        {{item | date:'fullDate'}}
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item" let-index="index">
                                        {{item | date:'fullDate'}}
                                    </ng-template>
                                </ng-select>
                            </th>
                            <th class="text-start">
                                <ng-select 
                                    [items]="filterData.competitions"
                                    [(ngModel)]="filter.selectedCompetition"
                                    (ngModelChange)="doFilterData()"
                                    placeholder="Competició">
                                </ng-select>
                            </th>
                            <th class="text-start">
                                <ng-select 
                                    [items]="filterData.teams"
                                    [(ngModel)]="filter.selectedTeam"
                                    (ngModelChange)="doFilterData()"
                                    placeholder="Equip">
                                </ng-select>
                            </th>
                            <th class="text-start">
                                <ng-select 
                                    [items]="filterData.tvs"
                                    [(ngModel)]="filter.selectedTv"
                                    (ngModelChange)="doFilterData()"
                                    placeholder="TV">
                                </ng-select>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let matchDay of matchDaysFiltered">
                            <tr>
                                <td class="date" colspan="5"><span class="fecha">{{matchDay.date | date:'fullDate'}}</span></td>
                            </tr>
                            <ng-container *ngIf="matchDay.matches && matchDay.matches.length>0">
                                <ng-container *ngFor="let match of matchDay.matches">
                                    <tr>
                                        <td class="text-start">{{match.date | date: 'HH:mm'}}</td>
                                        <td class="text-start"><img class="flag me-2" [src]="match.flag" />{{match.competition}}</td>
                                        <td><span class="team">{{match.homeTeam}}</span> vs. <span class="team">{{match.awayTeam}}</span></td>
                                        <td class="text-start">{{match.tv}}</td>
                                        <td class="text-center"><a [href]="match.calendarUrl" target="_blank"><i class="fa fa-calendar"></i></a></td>
                                    </tr>
                                </ng-container>                                
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </ng-container>
        <ng-container *ngIf="scrappedDataNodeList && matchDaysFiltered.length===0">
            <small>No matches found</small>
        </ng-container>
    </ng-container>
</div>