/* You can add global styles to this file, and also import other style files */

@import "node_modules/bootstrap/scss/bootstrap";

@import "~@ng-select/ng-select/themes/material.theme.css";

body {
    font-size: 13px;
}

table {
    &.tableFixedHeader {
        thead {
            th {
                position: sticky;
                top: 0;
                background: white; /* or your table header color */
                z-index: 2; /* to stay above the table rows */
                background-color: cadetblue;
            }
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

.w-10 { width: 10%; }

.br-0 { border-radius: 0px; }